figure {
    text-align: center;
}

figcaption {
    padding-top: 10px;
}

div.post {
    width: 60%;
    margin: 0 auto;
}

div.post img {
    max-width: 100%;
    height: auto;
}

@media ( max-width: 768px ) {
    div.post {
        width: 100%;

    }
}
