---
import Layout from '../components/Layout.astro';
import Command from '../components/Command.astro';
---
<Layout>
  <br/>
  <Command command="help" />
  <span>who: About YHG</span><br/>
  <span>ls -l [options]: Show options (projects / publications / blog)</span>
</Layout>
