---
import '../styles/menu.css';
---
<div class="menu_bar">
  <span><a href="/who">who</a></span><span> / </span>
  <span><a href="/projects">ls -l projects, works, activities</a></span><span> / </span>
  <span><a href="/publications">ls -l publications</a></span><span> / </span>
  <span><a href="/blog">ls -l blog</a></span>
</div>
